/*****************************************************
	Dimensions
*****************************************************/
$medium_screens_width: 1024px;

/**************************************************
App wrapper
**************************************************/
.app-layout {
	margin-top: 30px;

	// Medium screens and up
	@media only screen and (min-width: $medium_screens_width) {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

.app-header {
	text-decoration: underline;

	// Small screens and under
	@media only screen and (max-width: $medium_screens_width - 1) {
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}
}
/**************************************************
Loading
**************************************************/
.loading {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/**************************************************
Currency Selector
**************************************************/
.currency-selector {
	position: absolute;
	top: 10px;
	right: 10px;

	// Medium screens and up
	@media only screen and (min-width: $medium_screens_width) {
		top: 30px;
		right: 30px;
	}

	.ant-select {
		width: 100%;
	}
}

/**************************************************
Product Selector
**************************************************/
.product-selector {
	width: 100%;
	padding: 20px 30px;

	.ant-select {
		width: 100%;
	}
}

/**************************************************
Comparison
**************************************************/
.comparison {
	margin-bottom: 30px;

	.winner {
		background-color: #75bad46e;
		display: flex;
		justify-content: center;
		margin: 10px -5px;
		align-items:center;
		align-content: center;

		div {
			font-size: 16px;
			font-weight: bold;
		}

		// Medium screens and up
		@media only screen and (min-width: $medium_screens_width) {
			display: none;
		}
	}

	.product-information-wrapper {
		margin-top: 10px;
	}
}

/**************************************************
Parameters
**************************************************/
.parameters {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0px 30px;

	.header {
		display: flex;
		justify-content: center;
	}
}


